body {
    margin: 8px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(85%, auto) 1fr;

    a {
        text-decoration: none;
    }
    header {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: row;
        background-color: #ff6600;
        align-items: center;

        img {
            border: 1px solid white;
            vertical-align: middle;
            margin: 2px;
        }
        a {
            font-size: 13.3px;
            line-height: 16px;
            vertical-align: middle;
        }
        .brand {
            font-weight: bold;
            margin-right: .4em;
            margin-left: .1em;
        }
        span + a {
            padding: 0 .5em;
        }
    }
    main {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        background-color: #f6f6ef;
        color: #828282;

        .post {
            margin: .5em;

            div {
                &:nth-child(1) {
                    >ca {
                        margin-right: .25em;
                    }
                }
                &:nth-child(2) {
                    font-size: 10px;
                }
                a {
                    color: black;
                }
            }
            + .post {
                margin-top: 0;
            }
        }
    }
}
